server:
  port: 9003

spring:
  application:
    name: nacos-payment-provider
  cloud:
    nacos:
      discovery:
        server-addr: localhost:8841 #配置nacos地址

management:
  endpoints:
    web:
      exposure:
        include: '*'