server:
  port: 9001

spring:
  application:
    name: nacos-payment-provider
  cloud:
    nacos:
      discovery:
        server-addr: 172.20.10.14:8841 #配置Nacos地址

management:
  endpoints:
    web:
      exposure:
        include: "*"